.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
}

.formContainer {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 75;
  padding-bottom: 100;
  border-color: rgba(169, 164, 164, 0.11);
  border: 5px;
}

.inlineButtons {
  display: flex;
  justify-items: center;
}
